@import '~styles/helpers/_module';


:host {
	font-family: 'Poppins';
	
	.container {
		padding: 20px 0;
		padding-bottom: 0px !important ;
	}

	.wrapper {
		
		.headline {
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 500;
			line-height: 25px;
		}

		.sub-headline {
			font-family: 'Poppins'
		}

		.body {			
			font-family: 'Poppins';

            &-content {
				font-family: 'Poppins';	
			}
		}

		.actions {
			
			.section__button {
				background-color: #B15533 !important;
				font-family: 'Poppins' !important;
							
				}
			}
        }
    }


.upscale-mobile.upscale-small,
.upscale-mobile.upscale-extra-small {
	:host {
		.container {
			padding: 12px 0;
		}
	}
}

.actions[_ngcontent-serverApp-c137] .section__button[_ngcontent-serverApp-c137],
[_nghost-serverApp-c137] .actions[_ngcontent-serverApp-c137] .section__button[_ngcontent-serverApp-c137]  {
	background-color: #B15533 !important;
	font-family: 'Poppins' !important;
}

.body-content[_ngcontent-serverApp-c220] .attribute[_ngcontent-serverApp-c220]:first-child {
    margin-top: -21px;
}