@import '~styles/helpers/_module';

:host {
	.payment-loading {
		height: 300px;
		width: 100%;
		background-color: #fff;
	}

	.payment-header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&.padded {
			padding-bottom: 12px;
		}
	}

	.payment-selection {
		display: block;
		padding: 12px;

		&-trigger {
			align-items: center;
			display: flex;

			&.pad-bottom {
				padding-bottom: 12px;
			}
		}
	}

	.payment-label {
		padding-left: 12px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.payment-logo {
		margin-left: auto;
		max-width: 100px;
		max-height: 100px;
	}

	.payment-container {
		border-top: 1px solid $upscale-grey11;
		background-color: white;
	}

	.destination-iframe {
		border: none;
		width: 100%;
		height: 700px;
		display: flex;
	}

	.radio {
		width: 20px;
		height: 20px;
		border: solid 1px #979797;
		border-radius: 40px;
		box-sizing: border-box;
		position: relative;
		margin: 0;
		color: black;
		flex: none;
	}

	.click-to-reload {
		width: 100%;
		height: 400px;
		border: 1px solid #d0021b;
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;

		&__error {
			margin-right: 10px;
		}

		&__button {
			@include button($background-color: #d0021b);
			width: 200px;
			height: 38px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 500;
		}
	}

	.redirect-button {
		width: 350px;
		max-width: 100%;

		.section__button {
			margin-bottom: unset;
		}
	}
}