:host {
	.disabled-link {
		text-decoration: none;
	}
	
	.storybook-content {
		border-radius: 4px !important;

		.overlay {
			
			background-color: #FAFAFA !important;
	

		

		
			
			.article-subheadline {
				@include multiline-truncate-text-with-ellipsis(16px, 1.5, 2);
				font-family: 'Poppins';
			}

			
			&.product {
				.product-name {
					
					font-family: 'Poppins' !important; //VC changes
					font-size: 18px !important;
					font-weight: 500 !important;
				}

				.price {
					
					font-family: 'Poppins' !important; //VC changes
					font-size: 16px !important;
					font-weight: 400 !important;
					
					.original-price,
					.selling-price {
						@include small-font-size;
						font-family: 'Poppins' !important; //VC changes
						font-size: 16px !important;
						font-weight: 400 !important;
					}

					.original-price {
						text-decoration: line-through;
						margin-right: 5px;
						font-family: 'Poppins' !important; //VC changes
						font-size: 16px !important;
						font-weight: 400 !important;
					}
				}

				

				.buy-buttons {
					display: inline-flex;
					padding: 14px 0;
					text-align: center;
					margin-left: 12px;

					upscale-one-tap-buy-button {
						margin-left: 12px;
						max-width: calc(100% / 3 * 2);
					}
				}
			}

			
		}
		
		

		

		
	}
}

.upscale-medium,
.upscale-small,
.upscale-extra-small {
	:host {
		.storybook-content {
			height: 100%;
			.overlay {
				.content-headline,
				.product-name,
				.category-name,
				.article-headline {
					@include multiline-truncate-text-with-ellipsis(18px, 1.44, 2);
					font-weight: 500;
				}

				.content-subheadline,
				.article-subheadline {
					@include multiline-truncate-text-with-ellipsis(14px, 1.57, 2);
					font-family: 'Poppins';
				}

				
			}

			
		}
	}
}

