.cart-empty {
	
	&__start-shopping-button {
		@include button;
		background-color: #B15533;
		height: 50px;
		margin-top: 93px;
		margin-bottom: 40px;
		width: 366px;
	}
}

:host {
	.section {
		&.first {
			max-height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
		}
	}
	
}

.upscale-desktop {
	:host {
		.sections {
			display: grid;
			grid-template-columns: 2fr 1fr;
			flex-direction: column;
			column-gap: 8%;
			margin-top: 10px !important;
		}
	}
}

.upscale-mobile {
	:host {
		.sections {
			display: block;
			margin-top: 0px !important
		}
	}
}