@import '~styles/helpers/_module';

:host {
	

	.order-line {
		
		&__record {
			background-color: #e8e8e8;
			min-height: 45px;
			display: flex;
			align-items: center;
			box-sizing: border-box;

			&-reason {
				text-overflow: ellipsis;
				overflow: hidden;
			}

			

			
		}

		

		&__cancel {
			@include clickable;
			display: none !important; //changed to none
			align-items: center;
			justify-content: center;
			height: 45px;
			color: #9b9b9b;
			@include base-font-size;
			width: 100%;
			border: none;
			background: none;

			&:hover {
				color: $upscale-grey2;
			}
		}
	}

	
}