@import '~styles/helpers/_module';

:host {
	display: block;
	border-radius: 2px;

	::ng-deep .strike-through {
		display: inline-block;
		color: $upscale-grey4;
		margin-left: 8px;
		text-decoration: line-through;
	}

	&.overflow-hidden {
		overflow: hidden;
	}

	.order-line {
		&__divider {
			@include divider;
			background-color: $upscale-grey9;
		}

		&__product {
			display: flex;
			justify-content: space-between;
			padding: 9px;

			&-left {
				display: flex;
			}

			&-image {
				height: 84px;
				width: 84px;
			}

			&-info {
				padding-left: 14px;
			}

			&-name,
			&-cost {
				@include small-font-size;
				font-weight: 500;
			}

			&-prices {
				text-align: right;
				font-size: $small-font-size;
				padding-left: 8px;
				text-align: right;
				color: #000000;
				.bold {
					font-weight: 500;
				}
				.discount {
					white-space: nowrap;
				}
			}

			&-info {
				@include small-font-size;
			}

			&-quantity {
				display: flex;

				&-original,
				&-current {
					margin-left: 3px;
				}

				&-original {
					color: #979797;
					position: relative;
					text-decoration: line-through;
				}
			}

			&-variant-key {
				text-transform: capitalize;
			}
		}

		&__record {
			background-color: #e8e8e8;
			min-height: 45px;
			display: flex;
			align-items: center;
			box-sizing: border-box;

			&-reason {
				text-overflow: ellipsis;
				overflow: hidden;
			}

			&-status,
			&-date,
			&-reason,
			&-quantity {
				white-space: nowrap;
				padding: 12px;
				@include small-font-size;
			}

			&-status {
				font-weight: 500;
			}

			&-quantity {
				margin-left: auto;
			}
		}

		&__recurrence {
			@include small-font-size;
			margin: 10px;
			padding: 12px;
			border: 1px solid $upscale-grey11;
			display: flex;
			flex-direction: column;

			&-value {
				line-height: 1.63;
				width: 100%;
				color: #000000;
			}

			.bold {
				font-weight: 500;
			}

			.strike-through {
				text-decoration: line-through;
			}

			.tab-right {
				padding-left: 20px;
				color: $upscale-grey4;
				display: inline-flex;
			}

			&-personalize {
				@include button;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 40px;
				font-weight: 500;
				margin-top: 10px;
				background-color: #000000;
			}

			&-img {
				margin-right: 5px;
				vertical-align: middle;
			}
		}

		&__skip-shipment {
			@include small-font-size;
			&-personalize {
				@include button;
				margin-top: 10px;
				height: 40px;
				font-weight: 500;
				border: 1px solid #000000;
				color: #000000;
				background-color: white;
			}
		}

		&__shipping-info {
			border: 1px solid $upscale-grey11;
			margin: 10px;
		}

		&__cancel {
			@include clickable;
			display: none !important; //changed to none
			align-items: center;
			justify-content: center;
			height: 45px;
			color: #9b9b9b;
			@include base-font-size;
			width: 100%;
			border: none;
			background: none;

			&:hover {
				color: $upscale-grey2;
			}
		}
	}

	.kit-products {
		display: flex;
		flex-direction: column;
		border: 1px solid $upscale-grey11;
		border-radius: 2px;
		box-sizing: border-box;
		margin: 6px 17px 10px;

		.kit-includes {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			background: transparent;
			border: none;
			outline: none;
			padding: 2px 6px;

			.expand {
				transition: transform 0.3s linear;

				&.show-less {
					transform: rotate(180deg);
				}
			}

			.title {
				@include small-font-size;
				color: $black;
				font-weight: 500;
				pointer-events: none;
				cursor: default;
			}
		}

		.kit-recap {
			display: grid;
			grid-template-columns: 1fr;
			gap: 6px;
			margin-top: 4px;
			padding-bottom: 7px;

			::ng-deep upscale-product-image {
				&.image {
					width: 50px !important;
					height: 50px !important;
					padding-top: 0;
				}
			}

			&-expand {
				display: flex;
				align-items: flex-start;
				gap: 6px;
				border-top: 2px solid $upscale-grey11;
				padding-left: 10px;
				padding-right: 10px;

				&:first-child,
				&:nth-child(2) {
					border-top: none;
				}

				&-info {
					display: flex;
					flex: 1;
					flex-direction: column;
					@include small-font-size;
					color: $black;

					.title {
						font-weight: 500;
					}
				}

				.order-line__record {
					margin-top: 10px;
				}
			}
		}
	}

	.product-attribute-set {
		display: flex;
		flex-direction: row;
		margin-left: 25px;
		justify-content: flex-start;
		align-items: flex-start;
		column-gap: 5px;

		&:last-child {
			padding-bottom: 5px;
			border-bottom: 1px solid $upscale-grey11;
			margin-bottom: 5px;
		}

		.title {
			@include small-font-size;
			font-weight: 500;
			margin-bottom: 0;

			&:after {
				content: ':';
			}
		}

		.value {
			@include small-font-size;
			font-weight: 400;
			word-break: break-word;
		}
	}
}

.cancel-reason-selector,
.skip-reason-selector {
	padding: 12px 24px;
}
