@import '~styles/helpers/_module';
/*@import url('https://fonts.googleapis.com/css?family=Poppins');

$pdp-background: #ffffff;
$footer-background: #ffffff;
$fixed-button-bar-height: 100px;*/

:host {
	
	background-color: #f1f1f1 !important;

	::ng-deep {
		.image.carousel {
			
			margin-bottom: 5px; // vitor change 30px;
		

			
		}

		
	}

	.title {
		font-family: Poppins !important;
		font-style: normal !important;
		font-weight: 500 !important;
		font-size: 42px !important;
		line-height: 130% !important;
	}

	.price {
		font-family: Poppins;
		font-style: normal;
		font-weight: 500;
		font-size: 38px;
		line-height: 57px;
        display: flex;
	}

	

	.kit-template {
		position: relative;
	}
}

:host.in-edition {
	&.image-carousel-view {
		padding: 0;	

		.sku,
		.price,
		.title {
			padding-left: 12px;
			padding-right: 12px;
			padding-top: 12px;
			// font-family: Poppins !important;
			// font-style: normal !important;
			// font-weight: 500 !important;
			// font-size: 42px !important;
			// line-height: 130% !important;
		}

		
	}

	&:not(.image-carousel-view) {
		

		.row {
			justify-content: space-evenly;
			margin: 16px 0 36px;
			padding: 20px;
			//change
			background-color: #FAFAFA !important;

			.column:nth-of-type(2) {
				flex: 1;
				max-width: 613px; //VC change
				overflow-y: scroll;
				height: 600px;
			}
		}

		

		
	}
}

.product-detail-content {
	//background-color: $pdp-background;
	background-color: #FAFAFA !important; //change background mobile colour
}

.collection-hover {
	

	.title {
		font-family: Poppins !important;
		font-style: normal !important;
		font-weight: 500 !important;
		font-size: 42px !important;			
		line-height: 130% !important;
		padding: 25px 12px 0;
	}

	
}


.actions {
	
	.actions__buttons {
		box-sizing: border-box;
		display: flex;
		font-weight: 500;

		
	}
}



.thumbnail {
	@include clickable;
	height: 50px;
	min-width: 50px;
	margin: 6px;
	border: 1px solid transparent;
	box-sizing: border-box;
	background-color: white; //VC change

	&:hover {
		border: solid 1px $upscale-grey11;
	}

	&.selected {
		border: solid 1px black;
	}
}



.static-height {
	height: 570px;
	width: 570px;
	background-color: white !important;
}

.price {
	padding-bottom: 18px;
	.original-price {
		margin-right: 15px;
	}
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 38px;
	line-height: 57px;
    display: flex;
}

.recurrence {
	box-sizing: border-box;
	width: auto !important;
}

.title {
	font-family: Poppins !important;
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 42px !important;
	line-height: 130% !important;
	padding-bottom: 4px;
}




.kit-footer-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end; // VC change

	
}

.kit-footer {
	padding-bottom: 30px;
	padding-top: 30px;
}

.buy-kit {

	background-color: rgb(177, 85, 51); //VC change
	font-family: 'Poppins';
}

.kit-summary-headline {
	
	color: #B15533; //$black; VC Change
	font-weight: 500 !important;
	margin-top: 30px; //VC change
	text-align: center;
}


.kit-banner {
    height: 100%; //80%; VC change
    
        &-media {
		background-color: rgba(255,255,255,.8); // rgba(255, 255, 255);
		align-items: center; // VC change	
		background-position: center;
	}

	&-title {
		

		&-name {
			color: #B15533; //$black; VC change
			font-weight: 500 !important;
			margin-top: 10px;

			&-dialog {
				
				visibility: hidden; // VC change
			}
		}

		&-description {
           
			-webkit-line-clamp: 2;
			margin-top: 5px;
			
		}

	/*	&-price {
            padding-bottom: 20px; //VC change
			font-size: 21px !important; // VC Change
			@media (max-width: 599px) { 
				font-size: 18px !important;
				
			}
		

		}*/
	}
}

@include upscale-multiple(medium, large, extra-large) {
	:host{
		.kit-banner-title{
			height: 75%;
		}
		.kit-banner-title-description {
			padding-top: 10px;
			-webkit-line-clamp: 2;
		}
	}
}





.upscale-extra-small,
.upscale-small,
.upscale-medium {
	:host {
		.title {
			font-family: Poppins !important;
			font-style: normal !important;
			font-weight: 500 !important;
			font-size: 24px !important;
			line-height: 36px !important;
			padding-top: 0px !important;
		}
		.price {
			font-family: Poppins;
			font-style: normal;
			font-weight: 500;
			font-size: 21px;
			line-height: 31.5px;
            display: flex !important;
			padding-top: 0px !important;
			padding-bottom: 0px !important;
		}
		
	}
}


.upscale-large,
.upscale-extra-large {
	:host {
        .title {
			@include large-font-size;
		}
		.price {
			//alterações Vitor tamanho letra em desktop
			line-height: 57px !important;
            font-weight: 500;
            font-size: 38px !important;}
		}

		
	}
    
.product {
	&-content {
		&-alignment {
			&_left {
				text-align: left;
			}

			&_center {
				text-align: center;
			}

			&_right {
				text-align: right;
			}
		}
	}
}

@media (max-width: 899px) {
	.title {
		font-family: Poppins !important;
		font-style: normal !important;
		font-weight: 500 !important;
		font-size: 42px !important;
		line-height: 130% !important;
	}
	.price {
		font-family: Poppins;
		font-style: normal;
		font-weight: 500;
		font-size: 38px;
		line-height: 57px;
        display: flex;
	}
	.sku {
		@include medium-font-size;
	}

	.actions {
		display: flex;
		justify-content: center;
		box-sizing: border-box;
		upscale-one-tap-buy-button {
			margin-left: 12px;
			max-width: 50%;
		}
	}
}

.attribute-content {
	max-width: 900px;
	padding: 0 30px;
}

.card[_nghost-serverApp-c162] {
	background: #FFFFFF;
	//box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15) !important;
}