@import '~styles/helpers/_module';
@import url('https://fonts.googleapis.com/css?family=Poppins');

$pdp-background: #ffffff;
$fixed-button-bar-height: 100px;

:host {
	box-sizing: border-box;
	color: black;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #FAFAFA !important;

	.contentWrapper {
		&.fixed {
			margin-bottom: $fixed-button-bar-height;
		}
	}

	::ng-deep {
		.image.carousel {
			display: flex;
			margin-bottom: 5px; // vitor change 30px;
			position: relative;

			ngx-slick {
				flex: 1;
				overflow-x: hidden;
			}

			.slick-dots {
				bottom: -24px;

				li {
					margin: 0 3px;

					&.slick-active {
						button::before {
							color: $upscale-grey4;
						}
					}

					button::before {
						color: $upscale-grey7;
						@include font-size(10);
						opacity: 1;
					}
				}
			}

			.slick-list,
			.slick-track {
				height: 100%;
			}

			.slick-next,
			.slick-prev {
				display: none !important;
			}
		}

		upscale-variant-option-container .swatch-label {
			@include base-font-size;
		}

		upscale-product-collection-tile {
			&::ng-deep {
				upscale-variant-option-container {
					margin-top: 12px;

					.swatch {
						&-label {
							@include base-font-size;
						}
					}
				}
			}
		}
	}

	.title {
		font-family: Poppins !important;
		font-style: normal !important;
		font-weight: 500 !important;
		font-size: 42px !important;
		line-height: 130% !important;
	}

	.price {
		font-family: Poppins;
		font-style: normal;
		font-weight: 500;
		font-size: 38px;
		line-height: 57px;
        display: flex;
	}

	.sku {
		@include base-font-size;
	}
	.quantity-selector {
		padding: $small-spacer-tablet;
	}

    .outOfStock {
		@include extra-medium-font-size;
		color: $outOfStock;
		margin-top: 5px;
		margin-bottom: 5px;
		display: flex;
		.notify {
			padding-left: 48px;
			button {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 76px;
				height: 26px;
				border: 1px solid $black;
				box-sizing: border-box;
				border-radius: 3px;
				background-color: $white;
			}
		}
	}

	.kit-template {
		position: relative;
	}
}

:host.in-edition {
	&.image-carousel-view {
		padding: 0;

		.actions {
			padding: 18px;
		}

		.custom-attributes::ng-deep .list-item,
		.description-holder {
			padding-left: 16px;
			padding-right: 16px;
		}
		.noOptions {
			text-align: center;
			border: 1px solid $upscale-grey11;
		}

		.sku,
		.price,
		.title {
			padding-left: 12px;
			padding-right: 12px;
			padding-top: 12px;
			// font-family: Poppins !important;
			// font-style: normal !important;
			// font-weight: 500 !important;
			// font-size: 42px !important;
			// line-height: 130% !important;
		}

		.recurrence {
			padding-bottom: 16px;
			margin: 0 10px;

			.dropdown {
				max-width: 348px;
			}
		}

        .title {
			padding-top: 12px;
		}

		.variant-selectors::ng-deep {
			upscale-variant-option-container {
				padding: 0 18px;
			}
		}
	}

	&:not(.image-carousel-view) {
		.actions {
			padding-bottom: 36px;
			padding-top: 10px;

			.one-tap-buy {
				margin-left: 12px;
			}

			&.fixed {
				position: fixed;
				height: $fixed-button-bar-height;
				width: 100%;
				bottom: 0;
				padding: 0;
				background: #ededed;
				left: 0;
				margin: 0;
				z-index: 1;
				align-items: flex-end;
			}
		}

		.row {
			justify-content: space-evenly;
			margin: 16px 0 36px;
			padding: 20px;
			//change
			background-color: #FAFAFA !important;

			.column:nth-of-type(2) {
				flex: 1;
				max-width: 613px; //VC change
				overflow-y: scroll;
				height: 600px;
			}
		}

		.image.selector {
			margin-right: 16px;
		}

		.recurrence {
			::ng-deep {
				.swatch-label,
				.swatch-listing-container {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}

		.variant-selectors::ng-deep {
			upscale-variant-option-container {
				margin-bottom: 12px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			upscale-variant-option-container .swatch-label,
			upscale-variant-option-container .swatch-listing-container,
			.swatch-listing-container {
				padding-left: 0;
			}
		}
	}
}

.product-detail-content {
	//background-color: $pdp-background;
	background-color: #FAFAFA !important; //change background mobile colour
}

.collection-hover {
	background-color: #fff;
	border-radius: 4px;
	border: solid 2px #efefef;
	margin: 10px 60px;

	.title {
		font-family: Poppins !important;
		font-style: normal !important;
		font-weight: 500 !important;
		font-size: 42px !important;			
		line-height: 130% !important;
		padding: 25px 12px 0;
	}

	.collection-price {
		padding: 8px 12px;
	}

	&-tiles {
		display: flex;
		flex-wrap: wrap;
		background-color: #fff;
		padding: 25px 12px;
		justify-content: flex-start;
		width: 100%;
		box-sizing: border-box;

		@media screen and (max-width: 600px) {
			flex-wrap: nowrap;
			overflow-x: auto;
		}
	}
}

.column {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}

.actions {
	display: flex;
	flex-direction: column;

	.actions__message {
		padding-bottom: 10px;
		height: 16px;

		&.no-show {
			display: none;
		}

		&.error {
			@include small-font-size;
			font-weight: 500;
			font-style: italic;
			margin-bottom: 12px;
			color: $error;
		}
	}
	.actions__buttons {
		box-sizing: border-box;
		display: flex;
		font-weight: 500;

		.add-to-cart {
			flex: 1;
			padding: 0;
			height: 38px;
		}
		upscale-one-tap-buy-button {
			flex: 1;
		}

		&.stacked {
			flex-flow: column;

			.add-to-cart {
				flex: auto;
			}

			.one-tap-buy {
				margin-left: 0;
				margin-top: 10px;
				max-width: 100%;
			}
		}
	}
}

.variant-selectors + .recurrence {
	border-top: none;
}

.alert {
	background: #dc493a;
	width: 202px;
	height: 15px;
	font-size: $small-font-size;
	font-weight: 500;
	color: white;
	padding: 5px 5px;
	margin-bottom: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.image-column {
	display: flex;
	flex-direction: column;
	margin: 0 16px;
}

.thumbnails-row {
	display: flex;

	.thumbnail-list {
		display: flex;
		flex-direction: column;
		overflow: auto;
		margin: 12px;
	}
}

.thumbnails-column {
	display: flex;
	flex-direction: column;

	.thumbnail-list {
		display: flex;
		justify-content: center;
		flex-direction: row;
		margin: 12px;
		overflow: auto;
	}
}

.thumbnail {
	@include clickable;
	height: 50px;
	min-width: 50px;
	margin: 6px;
	border: 1px solid transparent;
	box-sizing: border-box;
	background-color: white; //VC change

	&:hover {
		border: solid 1px $upscale-grey11;
	}

	&.selected {
		border: solid 1px black;
	}
}

.horizontal-thumbnails {
	display: flex;
	width: 100%;
}

.vertical-thumbnails {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.static-height {
	height: 570px;
	width: 570px;
	background-color: white !important;
}

.image-carousel-full-width {
	height: 100vw;
}

.image-carousel-static-size {
	height: 75vw;
	overflow: auto;
}

.full-width {
	width: 100%;
}

.reduced-width {
	width: 80%;
}

.upscale-medium,
.upscale-extra-large {
	:host {
		.thumbnail {
			height: 100px;
			min-width: 100px;
		}
	}
}

.upscale-large {
	:host {
		$image-height: 450px;
		.static-height {
			height: $image-height;
			width: $image-height;
		}
		.image-carousel-static-size {
			height: $image-height;
			width: 62px;
		}
		.horizontal-thumbnails {
			width: $image-height;
		}
	}
}

.upscale-extra-large {
	:host {
		$image-height: 570px;
		.image-carousel-static-size {
			height: $image-height;
			width: 112px;
		}
		.horizontal-thumbnails {
			width: $image-height;
		}
	}
}

.price {
	padding-bottom: 18px;
	.original-price {
		text-decoration: line-through;
        margin-right: 15px;
	}
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 38px;
	line-height: 57px;
    display: flex;
}

.recurrence {
	box-sizing: border-box;
	width: auto !important;
}

.title {
	font-family: Poppins !important;
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 42px !important;
	line-height: 130% !important;
	padding-bottom: 4px;
}

.noOptions {
	padding: 18px 0;
}

.collection-errors {
	div {
		margin: 6px 24px;
	}
}

.collection-children {
	upscale-product-peek {
		padding: 0;
	}

	upscale-product-peek:last-of-type ::ng-deep .productWrapper.tile {
		border-bottom: none;
	}
}

.collection-buttons {
	text-align: right;

	.kit-error {
		@include small-font-size;
		font-style: italic;
		color: $black;
		margin-bottom: 6px;

		&.no-show {
			display: none;
		}
	}

	.one-tap-buy,
	.add-to-cart {
		width: 206px;
	}

	.one-tap-buy {
		display: inline-block;
		margin-left: 12px;
	}

	.add-to-cart {
		margin-left: 24px;
	}

	.add-to-cart[disabled] {
		width: 424px;
	}
}

.collection-name {
	font-weight: bold;
}

.collection-price {
	@include base-font-size;
}

.collection-review-error {
	padding: 20px 20px 0 20px;
}

.collection-summary {
	background: $pdp-background;
	border: solid 2px $upscale-grey11;
	margin: 24px 0;
}


.kit-footer-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.kit-footer-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	upscale-volume-pricing::ng-deep {
		.volume-pricing {
			width: 100%;

			.banner-headline {
				text-decoration: underline;
				font-weight: 300;
				display: flex;
				justify-content: center;
				align-items: center;
				box-sizing: border-box;
				width: 100%;
				margin: 0;
				height: 40px;
				border-bottom: solid 1px $upscale-grey11;

				.up-false {
					transform: rotate(45deg);
					margin-bottom: 4px;
					margin-left: 5px;
				}

				.up-true {
					transform: rotate(-135deg);
					margin-top: 4px;
					margin-left: 5px;
				}
			}

			.container {
				margin-left: 10%;
				margin-right: 10%;
				width: 80%;
			}
		}
	}
}

.kit-footer {
	padding-top: 15px;
	background-color: $footer-background;
	display: flex;
	align-items: top;
	justify-content: center;
	margin-top: auto;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 1;

	@media (max-width: 599px) {
		border: 1px solid #efefef;
		flex-direction: column;
		align-items: center;
		height: max-content;
	}

	&-name {
		@include medium-font-size;
		font-weight: 500;
		letter-spacing: normal;
	}

	&-price {
		font-weight: bold;
		margin: 0px 20px 0px 20px;
	}

	&-label {
		font-weight: bold;
		margin: 0px 20px 0px 20px;

		upscale-shipping-options::ng-deep {
			mat-radio-group {
				&.shipping-choices {
					font-weight: normal;
					border-top: solid 0px #efefef;
					border-bottom: solid 0px #efefef;
					.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
						border-color: $black;
					}

					.mat-radio-button.mat-accent .mat-radio-inner-circle {
						color: $black;
						background-color: $black;
					}
				}
			}
		}
	}

	.kit-buttons {
		text-align: start;

		.buttons {
			width: 100%;

			@media (max-width: 599px) {
				display: flex;
				flex-direction: row;
				gap: 10px;
				.shipping-icon {
					padding: 5px;
				}
			}

			.add-to-cart[disabled] {
				width: 100%;
			}

			upscale-one-tap-buy-button {
				&.disabled {
					::ng-deep upscale-quick-buy-button {
						color: $upscale-grey2 !important;
						border: none !important;
						background-color: $upscale-grey10 !important;
						cursor: default !important;
					}
				}
			}
		}
	}
}

.kit-tile {
	height: 100%;
}

.kit-footer-mobile {
	$icon-spacing: 4px;
	padding-top: 15px;
	background-color: $footer-background;
	display: flex;
	align-items: top;
	justify-content: center;
	margin-top: auto;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 1;
}

.buy-kit {
	@include button;
	height: 50px;
	margin-bottom: 5px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

.close-button {
	position: absolute;
	top: -12px;
	cursor: pointer;
	height: 25px;
	width: 65px;
	border-radius: 4px 0px 0px 4px;
	background-color: $white;
	border: none;
	transform: translateY(-50%);
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #efefef;
}

.kit-container-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.kit-container-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 8px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 210px;
	max-width: 1100px;
}

.kit-container-row-item {
	display: flex;
	justify-content: center;
	flex-basis: 20%;
	padding-bottom: 10px;
}

.kit-total-items {
	@include small-font-size;
	font-weight: 300;
	font-style: italic;
	padding: 5px 10px 5px;
	display: flex;
	justify-content: left;
}

.kit-summary-headline {
	@include large-font-size;
	padding: 24px;
	display: flex;
	justify-content: center;
	font-stretch: normal;
	font-style: normal;
	color: $black;
}

.kit-title {
	&-price {
		@include base-font-size;
		padding: 24px;
		font-stretch: normal;
		letter-spacing: normal;
		color: $black;
	}
}

.kit-banner {
	&-media {
		background-repeat: no-repeat;
		background-size: cover;
		background-color: rgba(255, 255, 255);
		height: 200px;
		width: 100%;
		display: flex;
		-webkit-align-content: flex-end;
		align-content: flex-end;
		justify-content: center;
		align-items: end;
	}

	&-title {
		background-color: rgba(255, 255, 255, 0.7);
		display: flex;
		height: 75%;
		width: 100%;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		&-name {
			@include large-font-size;
			display: flex;
			justify-content: center;
			font-stretch: normal;
			font-style: normal;
			color: $black;

			&-dialog {
				font-weight: 500;
				text-decoration: underline;
			}
		}

		&-description {
			padding: 10px;
		}

		&-price {
			@include base-font-size;
			font-stretch: normal;
			letter-spacing: normal;
			color: $black;
		}
	}
}

.upscale-extra-small {
	:host {
		::ng-deep {
			.image.carousel .slick-dots {
				bottom: 18px;
			}
		}
	}
}

.upscale-extra-small,
.upscale-small {
	:host.in-edition {
		&.image-carousel-view {
			padding: 0;
			margin-bottom: 5px; //VC
		}
	}

	:host {
		.collection-children {
			margin-top: 24px;
			margin-bottom: 24px;
			background-color: $pdp-background;
		}

		.collection-summary {
			margin: 12px 0;
		}

		.collection,
		.collection-buttons {
			text-align: left;

			.buttons {
				display: flex;
				justify-content: stretch;
			}

			.one-tap-buy,
			.add-to-cart {
				width: 50%;
				flex: 1 1 auto;
			}
			.add-to-cart {
				margin-left: 0;
			}
			.one-tap-buy {
				margin-left: 6px;
			}
		}

		.collection-hover-tiles {
			padding-bottom: 0;
		}

		&::ng-deep {
			.hoverEdit {
				&::ng-deep {
					upscale-variant-option-container {
						margin-top: 12px;

						.swatch {
							&-label {
								@include base-font-size;
							}
						}
					}
				}
			}
		}
	}
}

.upscale-extra-small,
.upscale-small,
.upscale-medium {
	:host {
		.title {
			font-family: Poppins !important;
			font-style: normal !important;
			font-weight: 500 !important;
			font-size: 24px !important;
			line-height: 36px !important;
			padding-top: 0px !important;
		}
		.price {
			font-family: Poppins;
			font-style: normal;
			font-weight: 500;
			font-size: 21px;
			line-height: 31.5px;
            display: flex !important;
			padding-top: 0px !important;
			padding-bottom: 0px !important;
		}
		.sku {
			@include base-font-size;
		}
		.image-carousel-reduced-width {
			height: 75vw;
		}

        .base-attribute-padding {
			padding: 0 12px;
		}

		upscale-product-peek {
			& + upscale-product-peek::before {
				content: '';
				display: block;
				border-bottom: 1px solid #efefef;
				margin: 0 24px;
			}
		}

		.collection-hover {
			margin: 10px 0;
		}

		.collection-name {
			@include large-font-size;
			padding: 12px 12px 0 12px;
		}

		.collection-price {
			padding: 0 12px 6px 12px;
		}

		.collection-buttons {
			margin: 6px 12px 12px 12px;
		}
		.product-detail-content {
			display: flex;
			flex-direction: column;
		}
	}
}

.upscale-medium {
	:host {
		.collection-children {
			margin-top: 36px;
		}

		.collection {
			.buttons {
				display: inline-flex;
			}
		}

		.collection-errors {
			text-align: right;
		}

		.actions__buttons {
			.add-to-cart {
				height: 48px;
			}
		}
	}
}

.upscale-medium,
.upscale-large,
.upscale-extra-large {
	:host {       
		.collection-children {
			upscale-product-peek {
				padding: 0;
				border: solid 2px #efefef;
				border-radius: 4px;
				overflow: hidden;

				& + upscale-product-peek {
					margin-top: 12px;
				}
			}
		}
	}
}

.upscale-large,
.upscale-extra-large {
	:host {
        .title {
			@include large-font-size;
		}
		.price {
			//alterações Vitor tamanho letra em desktop
			line-height: 57px !important;
            		font-weight: 500;
            		font-size: 38px !important;}
		}

		.sku {
			@include medium-font-size;
		}

		.image-row {
			margin: 0 20px;
		}

		.collection {
			.buttons {
				display: inline-flex;
			}
		}

		.collection-buttons {
			margin: 24px 24px;
		}

		.collection-name {
			@include large-font-size;
			padding: 24px 24px 0 24px;
		}

		.collection-price {
			padding: 0 24px;
		}

		.collection-errors {
			text-align: right;
		}
        
        .base-attribute-padding {
			padding: 0 12px;
		}
	}

.product {
	&-content {
		&-alignment {
			&_left {
				text-align: left;
			}

			&_center {
				text-align: center;
			}

			&_right {
				text-align: right;
			}
		}
	}
}

@media (max-width: 899px) {
	.title {
		font-family: Poppins !important;
		font-style: normal !important;
		font-weight: 500 !important;
		font-size: 42px !important;
		line-height: 130% !important;
	}
	.price {
		font-family: Poppins;
		font-style: normal;
		font-weight: 500;
		font-size: 38px;
		line-height: 57px;
        display: flex;
	}
	.sku {
		@include medium-font-size;
	}

	.actions {
		display: flex;
		justify-content: center;
		box-sizing: border-box;
		upscale-one-tap-buy-button {
			margin-left: 12px;
			max-width: 50%;
		}
	}
}

.attribute-content {
	max-width: 900px;
	padding: 0 30px;
}

.card[_nghost-serverApp-c162] {
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15) !important;
}