@import '~styles/helpers/_module';
@import url('https://fonts.googleapis.com/css?family=Poppins');

:host {
	display: block;

	.formgroup {
		
		&__button {
			
			background-color: #B15533 !important;
			font-family: 'Poppins' !important;
			border-radius: 4px;
		
		}
    }
}
