//@import '~styles/helpers/_module';

.card {
	.product {
			.product-data {
				.info {
						.name {
							font-weight: 500;
				} } }
					
		.prices {
			
			.lineDiscount {
				text-align: right;
				color: $upscale-grey4;
				white-space: nowrap;
			}
			.original-price {
				text-align: right;
				color: $upscale-grey4;
				text-decoration: line-through;
			}
		}
	}
	

	.buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@include small-font-size;
		color: #000000;
		width: 100%;
		box-sizing: border-box;
		line-height: 40px;
		padding: 15px 0;
		
	}

	

	

	
}

:host {
	&.gridCard {
		
		.product {
			
			.product-data {
				padding: 15px;
				.info {
					padding-left: 0px;
					margin-right: 10px;
					.name {
						@include base-font-size;
					}
					.recurrence,
					.unit-price,
					.variant-attribute {
						@include small-font-size;
						font-weight: 400;
					}
					.quantity {
						margin-bottom: 10px;
					}

					upscale-attribute-set {
						::ng-deep .body {
							min-width: 0px;
						}
					}
				}
				.prices {
					@include base-font-size;
					padding-left: 0;
					.price {
						text-align: right;
						font-weight: 500;
						//line-height: 1.56;
						white-space: nowrap;
                        //vitor change
                       font-size: 24px !important;
                       line-height: 36px !important;
                       color: #B15533 !important;
					}
				}
			}


		}
	}
}

.upscale-extra-large,
.upscale-large {
	:host.cart-list {
		&.gridCard {
			width: 50%;
			padding: 0px 6px 12px 6px;
			box-sizing: border-box;
			margin: 0;
			.product {
				.image {
					width: 100%;
				}
				.product-data {
					.info {
						.name {
							@include medium-font-size;
						}
						.recurrence,
						.unit-price,
						.variant-attribute {
							@include small-font-size;
							font-weight: 400;
						}
					}
					.prices {
						//@include medium-font-size;
						//change
						color: #B15533;
   						font-size: 24px !important;
    					line-height: 36px;
					}
				}
				.quantity {
					@include small-font-size;
					font-weight: 400;
				}
			}
		}
		.list-view {
			.product {
				padding: 0;
				.image {
					width: 153px;
					height: 153px;
				}
				.product-data {
					.info {
						.name {
							@include medium-font-size;
							color: #000000;
						}
						.recurrence,
						.quantity,
						.unit-price,
						.variant-attribute {
							@include small-font-size;
							text-transform: capitalize;
							font-weight: 400;
						}
					}
					.prices {
						//@include medium-font-size;
                        //vitor change
                        color: #B15533;
                        font-size: 24px !important;
                        line-height: 36px;
						.lineDiscount {
							@include base-font-size;
						}
					}
				}
			}
			.button-holder {
				.buttons {
					@include base-font-size;
					padding: 24px 0px 0px 0px;
					.button-label {
						padding: 0 20px;
					}
					line-height: 40px;
				}
			}
		}
	}
}

.upscale-large {
	:host.cart-list {
		&.gridCard {
			width: 33%;
			padding: 0px 6px 12px 6px;
			box-sizing: border-box;
			border: none;
			margin: 0;
			.product {
				.image {
					width: 100%;
				}
				.product-data {
					.info {
						.name {
							@include base-font-size;
						}
						.recurrence,
						.unit-price,
						.variant-attribute {
							@include small-font-size;
							text-transform: capitalize;
							font-weight: 400;
						}
					}
					.prices {
						//@include small-font-size;
						//change
						color: #B15533;
   						font-size: 24px !important;
    					line-height: 36px;
					}
				}
				.quantity {
					@include small-font-size;
					text-transform: capitalize;
					font-weight: 400;
				}
			}
		}
	}
}

.upscale-medium {
	:host.cart-list {
		&.gridCard {
			width: 50%;
			padding: 0px 6px 12px 6px;
			box-sizing: border-box;
			margin: 0;
			&:nth-child(even) {
				padding-right: 0px;
			}
			.product {
				.image {
					width: 100%;
				}
				.product-data {
					.info {
						.name {
							@include medium-font-size;
						}
						.recurrence,
						.unit-price,
						.variant-attribute {
							@include small-font-size;
							text-transform: capitalize;
							font-weight: 400;
						}
					}
					.prices {
						@include medium-font-size;
					}
				}
				.quantity {
					@include small-font-size;
					text-transform: capitalize;
					font-weight: 400;
				}
			}
		}
		.list-view {
			.product {
				padding: 0;
				.image {
					width: 100px;
					height: 100px;
				}
				.product-data {
					.info {
						padding-left: $small-spacer-tablet;
						.name {
							@include medium-font-size;
							color: #000000;
						}
						.recurrence,
						.quantity,
						.unit-price,
						.variant-attribute {
							@include small-font-size;
							text-transform: capitalize;
							font-weight: 400;
						}
					}
					.prices {
						@include medium-font-size;
						.lineDiscount {
							@include base-font-size;
						}
					}
				}
			}
			.button-holder {
				.buttons {
					padding: 24px 0px 0px 0px;
					.button-label {
						padding: 0 20px;
					}
				}
			}
		}
	}
}



.upscale-small,
.upscale-extra-small {
	:host.cart-list {
		&.gridCard {
			&:nth-child(even) {
				padding-right: 0px;
			}
			width: 100%;
			padding: $small-spacer-mobile 0 $small-spacer-mobile $small-spacer-mobile;
		}
		.list-view {
			.product {
				padding: 0;
				.image {
					width: 88px;
					height: 88px;
				}
				.product-data {
					.info {
						padding-left: $small-spacer-mobile;
						.name {
							@include base-font-size;
							font-weight: 500;
							color: #000000;
						}
						.recurrence,
						.quantity,
						.unit-price,
						.variant-attribute {
							@include small-font-size;
							text-transform: capitalize;
							font-weight: 400;
						}
					}
					.prices {
						@include base-font-size;
						.lineDiscount {
							@include small-font-size;
						}
					}
				}

				upscale-attribute-set {
					::ng-deep .body {
						min-width: 0px;
					}
				}
			}
			.button-holder {
				.buttons {
					padding: 24px 0px 0px 0px;
				}
			}
		}
	}
}