@import url('https://fonts.googleapis.com/css?family=Poppins');

:host {
	font-family: 'Poppins' !important;

	&.text-button {
		border-radius: 4px;
		//font-family: 'Poppins' !important;
	}

	&.icon-button {
		border-radius: 4px;
		}
}