@import '~styles/helpers/_module';

.shipping {
	width: 100%;
	border-bottom: none;
	background-color: white;

	&__section-header {
		height: 24px;
		display: flex;
		align-items: center;
		padding: 12px 4px 12px 12px;
		border-bottom: solid 1px $upscale-grey9;
		display: none; //hide Shipping options
	}

	&__bold {
		color: black;
		@include medium-font-size;
	}

	&__division-info {
		display: flex;
		align-items: center;
		.division-image {
			width: 35px;
			height: 48px;
			margin-right: $small-spacer-tablet;
		}
		.division-label {
			@include medium-font-size;
		}
	}

	&__header {
		display: none; // hide element
		justify-content: space-between;
		align-items: center;
	}
	&__products-single-column {
		display: grid;
		grid-template-columns: 1fr;

		.shipping__product-text {
			width: 100%;
		}

		.set-products-info {
			.product-info {
				display: flex;
				flex-direction: column;

				upscale-attribute-set {
					::ng-deep .body {
						margin: 6px 0;
					}
				}
			}

			.product {
				flex-direction: row;
			}

			.product-name {
				max-width: initial;
			}
		}
	}

	&__products-double-column {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	&__product-card {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		border-bottom: solid 1px $upscale-grey9;

		&-info {
			display: flex;
			align-items: flex-start;
		}

		.set-products {
			padding: 0 12px;
			width: 100%;
			box-sizing: border-box;
			margin-bottom: 10px;
			margin-top: 10px;

			&-info {
				display: flex;
				flex-direction: column;
				border: 1px solid $upscale-grey11;
				padding: 6px 15px;

				upscale-attribute-set {
					::ng-deep .body {
						margin: 6px 0;
						padding: 5px 0;
					}
				}

				.title {
					@include small-font-size;
					font-weight: 500;
					margin-bottom: 6px;
				}

				.product {
					display: flex;
					@include small-font-size;
					color: $black;
					font-weight: normal;

					&-name {
						max-width: 245px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					&-quantity {
						margin-left: 4px;
					}
				}
			}
		}
	}

	&__product-media-short {
		height: 60px;
		width: 60px;
		flex-shrink: 0;
	}

	&__product-media-tall {
		height: 90px;
		width: 90px;
		flex-shrink: 0;
	}

	&__product-text {
		display: flex;
		flex-direction: column;
		padding-left: 12px;

		.quantity {
			@include small-font-size;
			color: $black;
			font-weight: normal;
			margin-left: 12px;
			margin-bottom: 8px;
		}
	}

	&__product-name {
		@include base-font-size;
		padding-left: 12px;
	}

	&__product-info {
		@include small-font-size;
		padding-left: 12px;
	}

	&__option {
		display: flex;
		justify-content: space-between;
	}

	&__selection-section {
		display: inline-flex;
		padding: 6px;
		cursor: pointer;
	}

	&__radio-button {
		width: 20px;
		height: 20px;
		border: solid 1px #979797;
		border-radius: 40px;
		box-sizing: border-box;
		position: relative;
		margin-left: 12px;
	}

	&__option-info {
		padding: 12px;
		line-height: 1.6;
	}

	input:checked ~ &__radio-button {
		border: solid 1px black;
		&::after {
			content: '';
			height: 18px;
			width: 18px;
			border-radius: 20px;
			margin: auto;
			background-color: black;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}

	&__selection-costs {
		display: flex;
	}

	.original-cost {
		text-decoration: line-through;
		line-height: 1.63;
		color: $upscale-grey4;
		margin-right: 6px;
	}

	.product-attribute-set {
		display: flex;
		flex-direction: row;
		margin-left: 25px;
		justify-content: flex-start;
		align-items: flex-start;
		column-gap: 5px;

		&:last-child {
			padding-bottom: 5px;
			border-bottom: 1px solid $upscale-grey11;
			margin-bottom: 5px;
		}

		.title {
			@include small-font-size;
			font-weight: 500;
			margin-bottom: 0;
			color: $black;

			&:after {
				content: ':';
			}
		}

		.value {
			@include small-font-size;
			font-weight: 400;
			word-break: break-word;
		}
	}
}
