
:host {
	
	.tile {
		
	.title {
			font-size: 18px;
			white-space: normal;
            @media screen and (max-width: 600px) {
                font-size: 16px !important;
            }
            
			
		}
		.buy-buttons {
			border-radius: 4px;
			border-color: rgb(177, 85, 51);
			background-color: #B15533 !important;

			.selected-update-swap-item,
			.selected-swap-item {
				color: white;	
				line-height: 26px;
				background-color: transparent;
			}		}


		}

	}

