@import '~styles/helpers/_module';
@mixin column {
	display: flex;
	flex-direction: column;
	min-width: 0;
}

@mixin row {
	display: flex;
	flex-direction: row;
	min-width: 0;
}

:host {
	upscale-product-image-overlay {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

:host:not(.list-layout) {
	// The image should always be a square and the edge of the square has a length equal to the width of the tile.
	.image {
		padding-top: 100%;
		width: 100%;
	}
}

:host.list-layout {
	box-sizing: border-box;
	padding-bottom: 0;
	padding-right: 12px;
	width: 100%;

	.colors,
	.name,
	.price {
		margin-left: 0;
		padding-left: 0;
		background-color: #fafafa !important;
	}

	.name {
		@include multiline-truncate-text-with-ellipsis(1.6rem, 1.5, 3);
		font-style: normal;
		font-weight: 600 !important;
		font-size: 18px !important;
		line-height: 27px !important;
		color: #333333 !important;
		background-color: #FAFAFA !important;
	}

	.colors {
		display: inline-block;
	}

	.image {
		align-self: flex-start;
	}
}
@include upscale-mobile-wmq() {
	:host.list-layout {
		@include row();

	.buttons-layout {
		margin-left: auto;
		margin-top: auto;
	}

	.buy-buttons {
		align-self: baseline !important;
		justify-content: flex-end;
		width: 100%;
        background-color: transparent !important;
		margin-left: 12px;

		.one-tap-buy {
			$height: 40px;

			height: $height;
		}
	}

	.buttons-layout,
	.details1 {
        @include row();
		flex: none;
	}

	.column {
		flex: 1;
        border-radius: 4px !important;
	}

	.details1 {
		justify-content: space-between;
		margin-top: 12px;
	}

	.details2 {
		display: inline-block;
	}

	.name {
		@include medium-font-size;
		margin-top: 0;
        font-weight: 600 !important;
		font-size: 14px !important;
		line-height: 21px !important;
		color: #333333 !important;
		background-color: #FAFAFA !important;
	}

	.price {
		@include base-font-size;
		margin-top: 0;
        font-style: normal !important;
        font-weight: normal !important;
        font-size: 14px !important;
        line-height: 21px !important;
		background-color: #fafafa !important;
	}
}
}

@include upscale-multiple(tablet, desktop) {
	:host.list-layout{
		@include row();

	.buy-buttons {
		align-self: baseline !important;
		width: 100%;
        background-color: transparent !important;
		margin-left: 12px;
		.one-tap-buy {
			$height: 45px;
			align-self: stretch;
			height: $height;
		}
	}

	.name {
		box-sizing: border-box;
		width: 100%;
        font-style: normal;
		font-weight: 600 !important;
		font-size: 18px !important;
		line-height: 27px !important;
		color: #333333 !important;
		background-color: #FAFAFA !important;
	}

	.details1,
	.details2 {
        @include column();
		margin-top: 18px;
	}

	.details1 {
		align-items: flex-start;
		padding-right: 12px;
	}

	.details2,
	.image {
		flex: none;
	}

	.details2 {
		align-items: flex-end;
		margin-left: auto;

		.buy-buttons {
			align-self: baseline !important;
			justify-content: flex-end;
            background-color: transparent !important;
			margin-left: 12px;
		}
	}

	.image {
		height: 100%;
		padding: 0;
	}

	.name {
		@include medium-font-size;
		margin-top: 0;
		background-color: #fafafa !important;
	}

	.price {
		@include base-font-size;
		margin-top: 0;
        font-style: normal !important;
        font-weight: normal !important;
        font-size: 18px !important;
        line-height: 27px !important;
		background-color: #fafafa !important;
	}
}
}
:host {
        @include column(); // Only holds true when in grid view.
	background-color: #FAFAFA !important; //white; change color of background tile
	padding: 0;

	.colors {
		margin: 12px 0;

		&.empty {
			margin: auto 0;
		}

		> span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			margin: 0 2px 5px 3px;

			&.more {
				width: auto;
				min-width: 20px;
				@include small-font-size;
				font-weight: 500;
				white-space: nowrap;
			}
		}
	}

	.colors,
	.name,
	.price {
		display: flex;
		padding: 0 12px;
		.original-price {
			text-decoration: line-through;
			padding-right: $small-spacer-tablet;
		}
	}

	.price-range {
		display: flex;
	}

	.image {
		box-sizing: border-box;
		position: relative;
		.product-image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
            background-color: white !important;
		}
	}

	.name {
		@include multiline-truncate-text-with-ellipsis(1.6rem, 1.5, 3);
		color: black;
		font-weight: 500;
		margin-top: 6px;
	}

	.price {
		color: black;
		@include base-font-size;
	}

	.actions {
		color: white;
		padding-top: 3px;
		width: 100%;
		display: flex;
		justify-content: center;

		.apple {
			width: 130px;
			max-width: 100%;
			height: 30px;
			border-radius: 2px;
			background-color: #1a1919;
			line-height: 30px;
			@include font-size(14);
			font-family: sans-serif;
			font-weight: lighter;
		}
	}

	.buy-buttons {
		display: inline-flex;
		justify-content: center;
		margin-top: auto;
		margin-left: 12px;
		padding: 14px 0;
		text-align: center;
        background-color: transparent !important;
		align-self: baseline !important;

		upscale-one-tap-buy-button {
			margin-left: 12px;
			max-width: calc(100% / 3 * 2);
		}
	}
}

a:visited {
	color: inherit;
}

a {
	cursor: inherit;
	text-decoration: none !important;
	color: inherit;
}

.column {
	display: flex;
	flex-direction: column;
	min-width: 0;
    border-radius: 4px !important;
    //filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.15)); // Vitor adding drop-shadow to carts
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15); //test
}

.row {
	display: flex;
	flex-direction: row;
	min-width: 0;
}

@include upscale-multiple(medium, extra-large) {
	:host {
		&.list-layout {
			.name {
				@include multiline-truncate-text-with-ellipsis(1.6rem, 1.5, 3);
			}
		}

		.name {
			@include multiline-truncate-text-with-ellipsis(1.8rem, 1.5, 3);
			height: 51px;
		}

		.price {
			@include base-font-size;
		}
	}
}

@include upscale-large {
	:host.list-layout {
		$size: 211px;

		min-height: $size;

		.name {
			@include multiline-truncate-text-with-ellipsis(2.5rem, 1.5, 3);
		}

		.price {
			@include font-size(25);
		}
	}
}

@include upscale-extra-large {
	:host.list-layout {
		.list-layout-spacer {
			margin-left: 18px;
		}

		.image {
			$size: 248px;

			min-height: $size;
			width: $size;
		}

		.name {
			@include multiline-truncate-text-with-ellipsis(2.8rem, 1.5, 3);
		}

		.price {
			@include font-size(28);
		}
	}
}

@include upscale-multiple(small, extra-small) {
	:host.list-layout {
		.list-layout-spacer {
			margin-left: 6px;
		}

		.image {
			$size: 145px;

			min-height: $size;
			width: $size;
		}
	}
}

@include upscale-multiple(medium, large) {
	:host.list-layout {
		.list-layout-spacer {
			margin-left: 16px;
		}

		.image {
			$size: 211px;

			min-height: $size;
			width: $size;
		}
	}
}

.promotion-badges {
	&.bottom-badges {
		order: 10;
	}
}

.product-tile{
	cursor: pointer !important;
}

.product-tile[_ngcontent-serverApp-c273] {
    background-color: #fafafa !important;
}

[_nghost-serverApp-c270] {
	background-color: white;
}

.image[_ngcontent-serverApp-c270] .product-image[_ngcontent-serverApp-c270] {
	background-color: white;
}

.product-tile[_nghost-serverApp-c186] {
    background-color: #fafafa !important;
    padding: 0;
}
