@import '~styles/helpers/_module';

:host {
		.body {
		
            .action-button {
			font-family: 'Poppins'; // 'Roboto';
			font-weight: 500;//700;
			cursor: pointer;
			border-radius: 4px;
	
		}		
	}

	.required-label {
		
		color: #424242;
	}

	.actions {
		
		.section__button {
			background-color: #B15533 !important;
            font-family: 'Poppins';
            font-size: 16px;
            line-height: 26px;

			@media (max-width: 600px) {
				width: 100%;
				border-radius: 4px;
			}

			&--empty {
				
				color: white; // $black;
				border-radius: 4px;
				border: 2px solid $upscale-grey11;
                max-width: 110px;  
                border-color: #b15533;
                width: 100% !important;              
				
			}
		}

		
		.change {
			margin-left: 6px;
			//border-color: $black;
			width: 100%;
			max-width: 110px;
            border-color: #b15533;
            color: white !important;

		}
	}
}

.customization-quantity.ng-star-inserted>upscale-attribute-set-label {
    font-size: 0px;
}

.customization-quantity.ng-star-inserted::before {

    content: "Quantos produtos quer com este nome?";
    font-size: 14px;
    line-height: 1.57;
    font-weight: 400;
    letter-spacing: normal;
    color: #424242;}