@import '~styles/helpers/_module';

:host {
	display: flex;
	height: 100%;
	width: 100%;
	position: relative;
	background-color: white; //VC
	.img {
		&.loading {
			display: none;
		}
		height: 100%;
		width: 100%;
		overflow: hidden;
	}

	picture {
		width: 100%;
		height: 100%;
	}

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;

		&.contain {
			object-fit: contain;
		}
	}
	.zoomableDesktop {
		transform-origin: 0 0;
	}
	pinch-zoom {
		height: 100%;
		width: 100%;
	}

	.no-placeholder {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $upscale-grey9;
		box-shadow: 0 0 5px 5px $upscale-grey6 inset;
	}

	@keyframes dotFlashing {
		0% {
			opacity: 1;
		}
		50%,
		100% {
			opacity: 0.5;
		}
	}

	.loader {
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: center;
	}

	.dot1,
	.dot2,
	.dot3 {
		width: 10px;
		height: 10px;
		border-radius: 5px;
		animation: 1s dotFlashing infinite linear alternate;
		display: block;
		background-color: #9a9a9a;
		opacity: 0.5;
	}

	.dot1 {
		animation-delay: 0;
	}

	.dot2 {
		animation-delay: 0.5s;
		margin: 0 3px;
	}

	.dot3 {
		animation-delay: 1s;
	}

	.text {
		position: absolute;
	}
}

.upscale-small,
.upscale-extra-small,
.upscale-medium {
	:host {
		.text {
			@include font-size(26);
		}
	}
}
.upscale-large,
.upscale-extra-large {
	:host {
		.text {
			@include font-size(36);
		}
	}
}
