:host {

	font-family: 'Poppins';

	.title {

		font-family: 'Poppins';
        font-size: 36px !important;
        font-weight: 500 !important;
        line-height: 54px !important;
		
	}


	.story-books {
		       
        
		.grid {
			
			gap: 15px 14px;
			
			

			&.one {
				grid-template-columns: 1fr;
				margin-bottom: 0px;
			}

			&.two {
				grid-template-columns: repeat(2, 1fr);
			}

			&.three {
				grid-template-columns: repeat(3, 1fr);
			}

			&.four {
				grid-template-columns: repeat(4, 1fr);
				margin-left: 20px !important; //VC change
				margin-right: 20px !important;
				margin-bottom: 0px;
			}

			&.five {
				grid-template-columns: repeat(5, 1fr);
			}

			&.six {
				grid-template-columns: repeat(6, 1fr);
			}

			::ng-deep {
				upscale-generic-image:not(.product-info-image) {
					height: auto;
				}

				upscale-image {
					.image-content {
						height: 100%;

						.image-container {
							height: 100%;

							upscale-video {
								.video-container {
									position: initial;
									box-sizing: border-box;
								}

								upscale-generic-image {
									height: 100%;
								}

								.button-ruler {
									display: none;
								}
							}
						}
					}
				}

				.videoContent {
					&.details {
						// height: auto;
						position: relative;
					}
				}
			}

			@media (min-width: 601px) and (max-width: 900px) {
				margin-bottom: 24px;
				gap: 24px 12px;

				&.five,
				&.six {
					grid-template-columns: repeat(4, 1fr);
				}
			}

			@media (max-width: 600px) {
				//margin-bottom: 0px;
				gap: 12px 12px;

				&.two,
				&.three,
				&.four,
				&.five,
				&.six {
					grid-template-columns: repeat(1, 1fr);
				}
			}
		}		
    }
}







.upscale-medium {
	:host {
		.storybook-background {
			padding: 0px 0;
			//padding-bottom: 50px !important; removed to use content slot instead
		}
	}
}

.upscale-large,
.upscale-extra-large {
	:host {
		.storybook-background {
			padding: 0px 0;
			//padding-bottom: 50px !important; removed to use content slot instead
		}
	}
}


.upscale-desktop {

	.container-content{
		max-width: 1740px !important;
    	width: 100% !important;
	}
}