@import '~styles/helpers/_module';
@import '~app/components/account/account-styles';

:host {
	

	.order-details-cancel {
		@include transparent-button;
		height: 45px;
		width: 100%;
		margin: 12px 0;
		display: none !important;
	}

	.order-details {
		padding: 12px;

		&__order-line {
			margin: 12px 0;
			background-color: white;

			&.header-attached {
				margin-top: 0;
			}

			.order-details__info-card-header {
				background-color: white;
			}
		}

		
		}
	

	
}