:host {
	display: none;

	&.component-ready {
		display: block;
		background-color: #ECECEC;
	}

	&.component-failed {
		display: none;

		&.component-fallback {
			display: block;
		}
	}
}

iframe {
	display: block;
	width: 100%;
	border: none;
	box-sizing: border-box;
}
